body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
    font-size: 0.8em;
    color: green;
    text-align: center;
}

li > span {
    color: red;
}